<div class="container">
  <h3>Fatura</h3>
  <!-- Name Phase  -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> İsim </label>
        <input
          class="form-control"
          type="text"
          (input)="onNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b> İsim </b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <!-- Date Phase  -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Ödeme Tarihi </label>
        <input
          class="form-control"
          type="date"
          (input)="onDateChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b> Ödeme Tarihi </b></label>
      <div>
        {{ date | date: "MMMM d , y" }}
      </div>
    </div>
  </div>
  <!-- Currency Phase  -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Tutar </label>
        <input
          class="form-control"
          type="text"
          (input)="onMoneyChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b> Tutar </b></label>
      <div>
        <select (input)="takeCurrency($event.target.value)">
          <option *ngFor="let curr of currencys">{{ curr }}</option>
        </select>
        <span> {{ money | currency: currency }}</span>
      </div>
    </div>
  </div>
  <!-- People Height Phase  -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Boy </label>
        <input
          class="form-control"
          type="text"
          (input)="onHeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b> Boy </b></label>
      <div>{{ height | number: "1.1-2" }} cm</div>
    </div>
  </div>
  <!-- Miles to Km Phase  -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Mil </label>
        <input
          class="form-control"
          type="text"
          (input)="onMilesChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <label><b> Uzunluk </b></label>
        <div>
          <select (input)="takeLength($event.target.value)">
            <option *ngFor="let lenght of lengths">{{ lenght }}</option>
          </select>
          <span>
            {{ miles | convertToKm: length }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
